.d_container {
    /* background: gray; */
    height: 50px;
    display: flex;
    flex-flow: row wrap;
    position: relative;
  }
  
.d_item {
    background: blue;
    color:cadetblue;
    margin: 10px;
    align-items: center;
    text-align: center;
    flex: 0 1 calc(20% - 20px); /* <-- adjusting for margin */
    text-transform: uppercase;
    font-weight: 700;
}